@import "theme.css";

* {
	/* ignore GTK theme */
	all: initial;
	color: @main-fg;
}

@import "styles/fonts.css";
@import "styles/modules-center.css";
@import "styles/modules-left.css";
@import "styles/modules-right.css";
@import "styles/states.css";

.module {
	margin-bottom: -1px;
}

#waybar {
	background-color: @outline;
}
#waybar > box {
	margin: 4px;
	background-color: @main-bg;
}

button {
	border-radius: 16px;
	min-width: 16px;
	padding: 0 10px;
}
button:hover {
	background-color: @hover-bg;
	color: @hover-fg;
}

tooltip {
	border: 2px solid @main-br;
	border-radius: 10px;
	background-color: @main-bg;
}
tooltip > box {
	padding: 0 6px;
}

/*-----------------
    tray menu
-----------------*/

menu {
	background-color: @mantle;
	border: 1px solid @surface1;
	border-top: 2px solid @accent;
	padding: 6px 0;
	font-family: "Commit Mono Nerd Font";
	font-size: 13px;
	font-weight: normal;
}
menu menuitem {
	padding: 7px 18px;
	color: @subtext1;
	min-height: 0;
}
menu menuitem:hover {
	background-color: @surface0;
	color: @accent;
}
menu separator {
	background-color: @surface1;
	min-height: 1px;
	margin: 5px 10px;
}
